@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 冷蔵庫画像 */
h1 {
    text-align: center;
    margin-top: 10vh;
    cursor: pointer;
}
/* 見出し */
.click {
    font-size: 2rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

h4 {
    font-size: 1rem;
    background-color: #fff;
    font-weight: normal;
    text-align: center;
}
/* ボタン */
/*                                                  あとで修正
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}

/* iframe */
/*                                                  あとで修正
iframe {
    width: 100%;
}

/* HOME
------------------------------- */
.big-bg {
    display: flex;
    justify-content: center;
    background: #C1D5EE;
}

.big-refrigerator {
    min-width: 400px;
    position: relative;
}
.expiration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 96vh;
    margin: 2vh 10px;
    background-color:rgba(207, 240, 253, 0.692) ;
    border-radius: 5%;
}

.home-content{
    display: flex;
    justify-content:center;
}
.cursor {
    object-fit: cover;
}


/* expiration
------------------------------- */
.expiration p {
    margin-bottom: 0.2rem;
}
h3 {
    margin-top: 20px;
    height: 5%;
}
.soon {
    height: 40%;
    position: relative;
}
.over {
    height: 40%;
    margin-bottom: 20px;
    position: relative;
}
.soon-food-hidden {
    background: #95B94F;
    border-radius: 5%;
    color: #000;
    text-align: center;
    margin: 20px;
    width: 90%;
    height: 80%;
    padding-top: 10px;
}
.soon-food-show {
    background: #95B94F;
    border-radius: 5%;
    color: #000;
    position: absolute;
    right: 0;
    height: 80%;
    width: 180%;
    margin: 20px;
    padding: 10px 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.over-food-hidden {
    background: #EFCF63;
    border-radius: 5%;
    color: #000;
    text-align: center;
    margin: 20px;
    width: 90%;
    height: 80%;
    padding: 10px; 
}
.over-food-show {
    background: #EFCF63;
    border-radius: 5%;
    color: #000;
    position: absolute;
    right: 0;
    height: 80%;
    width: 180%;
    margin: 20px;
    padding: 10px 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.soon-food p,
.over-food p {
    margin-left: 1rem;
}
.soon-all-display,
.over-all-display {
    position: absolute;
    bottom: -13px;
    left: 35%;
    padding: 3px 20px;
    border-radius: 10%;
    cursor: pointer;
}
.soon-food-hidden p:nth-child(n+6),
.over-food-hidden p:nth-child(n+6) {
    display: none;
}
							

/* フォーム */
/*                                                  あとで修正

form div {
    margin-bottom: 14px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}


/* SNS */
/*                                                  あとで修正

#sns {
    background: #FAF7F0;
    padding: 4% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
}

/* フッター
------------------------------- */
/*                                                  あとで修正

footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* モバイル版
------------------------------- */
/*                                                  あとで修正
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* HOME */
/*                                                  あとで修正
    .home-content {
        margin-top: 20%;
    }
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 30px;
    }
    article,
    aside {
        width: 100%;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }


  
    /* フォーム */
/*                                                  あとで修正
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

 
}
*/

/* 選択肢
------------------------------- */

.branch {
    background-color: #fff;
    padding: 10px;
    border-radius: 5%;
    font-size: 1rem;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 1;
}

.hidden {
    display: none;
}
h5{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
}
.back-or-save {
    display: flex;
    justify-content: space-between;
}
.exp-set {
    text-align: center;
}
.exp-set span {
    font-size: 0.6rem;
}
.branch0 {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px 0 15px;
}
.branch0 a:hover {
    background-color: rgba(184, 185, 185, 0.692);
    cursor: pointer;
}
.branch-all a:hover {
    cursor: pointer;
}

#branch-meat,
#branch-vegetable,
#branch-fruit,
#branch-fish,
#branch-dry,
#branch-mushroom,
#branch-egg,
#branch-potato,
#branch-bread,
#branch-rice,
#branch-milk,
#branch-bean,
#branch-noodles {
    display: flex;
    justify-content: space-between;
}
#result {
    text-align: center;
}